//Emailing

NUXT_GTM_ID = "GTM-mkrH5VG9"
NUXT_GOOGLE_ANALYTICS_ID = "G-F5xjfu6BRK"
NUXT_OG_IMAGE_SECRET="test-2nund-222"
NUXT_BASE_URL="https://metro.com"
BREVO_API_KEY="xkeysib-18c03f52fe4990e37b9248casda4516jide06f4d3a93ec5cb889afrd615cb75f-dEKanHoPUcxVTHpX"
BREVO_SENDER_EMAIL="michaelking@gmail.com"